.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  font-size: 14px;
  background-color: var(--main-blue);
  font-weight: 500;
  border-radius: 12px;
  line-height: 142.8%;
  transition: background-color var(--cubic);
}
.btn:is(:hover, :focus) {
  background-color: var(--blue);
}
