.catalogList {
  display: flex;
align-items: center;
justify-content: center;
  flex-direction: column;
  gap:  20px;
}

.catalogListText {
	width: fit-content;
	margin: 50px auto 0px;
	color: var(--main-black);
	font-size: 20px;
	font-weight: 500;
	line-height: 150%;
}

@media screen and (min-width: 768px) {
	.catalogList {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 30px 15px;
		width: 730px;
	 }
	 
}

@media screen and (min-width: 1184px) {
	.catalogList {
		gap: 50px 20px;
		width: 1155px;
		justify-content: unset;
	 }
	 
}
