.welcomeSection {
  padding: 50px 0px;
}
.welcomeTitle {
  color: var(--main-black);

  margin: 0 auto;
  font-size: 52px;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  line-height: 111.1%;
  margin-bottom: 24px;
}
.welcomeTopText,
.welcomeText,
.welcomeBottomText {
  color: var(--main-black);
  font-family: Montserrat;
  margin: 0 auto;
  font-size: 23px;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  line-height: 111.1%;
}
.welcomeTopText {
  margin-bottom: 24px;
}
.welcomeText {
  margin-bottom: 24px;
  font-weight: 600;
}
.welcomeBottomText {
  cursor: pointer;
  font-weight: 600;
  color: var(--main-blue);
  transition: color var(--cubic);
}

.welcomeBottomText:is(:hover, :focus) {
  color: var(--gray);
}
